<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Cadastro</title>
    <link rel="stylesheet" href="/static/css/cadastro_produto.css">
    <link rel="stylesheet" href="/static/css/componentes/cabecalho.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> 
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho__menu">
            <button class="menu-toggle" aria-label="Toggle menu">
                ☰
            </button>
            <div class="menu-links">
                <a class="cabecalho__menu__link" href="login">Login</a>
                <a class="cabecalho__menu__link" href="cadastro_usuario">Cadastrar Usuario</a>
                <a class="cabecalho__menu__link" href="cadastro_nota">Cadastrar Nota</a>
                <a class="cabecalho__menu__link" href="consulta_balanco">Consultar Balanço</a>
                <a class="cabecalho__menu__link" href="/#" onClick="solicitarRelatorio(event)">Solicitar Relatório </a>
                <a class="cabecalho__menu__link" href="cadastro_produto">Cadastrar Produtos</a>
                <a class="cabecalho__menu__link" href="consulta_produto">Consultar Produtos</a>

            </div>
        </nav>
    </header>

    <div class="conteudo-produto">
        <div class="box">
            <div class="img-box">
                 <img src="/static/img/images financeiro.jpg 2.jpg" alt="">
     
             </div>
             <div class="form-box">
                 <form action="/submit_produto" method="post">
                     <div class="input-group">
                         <label for="nome">Nome/Produto:</label>
                         <input type="text" id="nome" name="nome" placeholder="" required>
                     </div>
     
                     <div class="input-group">
                        <label for="data">Data:</label>
                        <input type="data_cadastro" id="data" name="data_Cadastro"placeholder="" required>
                    </div>

                     <div class="input-group">
                         <label for="codigo">Codigo/Produto:</label>
                         <input type="codigo_produto" id="codigo" name="codigo_produto"placeholder="" required>
                     </div>
     
                     <div class="input-group w50">
                         <label for="quantidade_existente">quantidade/existente:</label>
                         <input name="quantidade_existente" type="number" id="quantidade_existente" placeholder="" required >
                     </div>
     
                     <div class="input-group">
                     <input type="submit" value="Cadastrar">
                   </div>
                     
                   
     
                 </form>
     
             </div>
     
     
         </div>
    </div>
  
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const menuToggle = document.querySelector('.menu-toggle');
            const menuLinks = document.querySelector('.menu-links');

            menuToggle.addEventListener('click', function() {
                menuLinks.classList.toggle('active');
            });
        });
    </script>

</body>
</html>